@mixin pageGrid {
  display: grid;
  grid-template-columns: repeat($grid-col-amount, 1fr);
  gap: $grid-col-gap;
}

@mixin hover($property, $toVAlue) {
  transition: #{$property} $effect-duration $anim-timing-func;
  &:hover {
    #{$property}: $toVAlue;
  }
}

@mixin active($property, $toVAlue) {
  transition: #{$property} $effect-duration $anim-timing-func;
  &:active {
    #{$property}: $toVAlue;
  }
}

@mixin focus($property, $toVAlue) {
  transition: #{$property} $effect-duration $anim-timing-func;
  &:focus {
    #{$property}: $toVAlue;
  }
}

@mixin hoverScale {
  transition: transform $effect-duration $anim-timing-func;

  &:hover {
    transform: scale($scale-value);
  }
}

@mixin navButton {
  border-radius: 4px;
  box-shadow: $box-shadow-value;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.01em;
}

@mixin selectedNavButton {
  color: #fff;
  background-color: $brown-color;
}

@mixin disabledNavButton {
  cursor: no-drop;
  border: none;
  opacity: 0.5;
  border-radius: 4px;
}
