.auth {
  display: flex;
  height: 100vh;

  &__bg {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    width: 50vw;
    padding: 26px 40px 32px;
    background: no-repeat bottom url("../../assets/images/auth-bg.png");
    background-size: cover;
  }

  &__content {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
