.filters {
  &__title {
    // margin-top: 12px;
    font-size: 22px;
    margin: 0;
    // margin-bottom: 12px;
  }

  label {
    display: block;
    margin: 0;

    span {
      font-size: 14px;
    }
  }

  .MuiAccordionDetails-root {
    padding: 8px;
  }

  // .MuiPaper-root {
  //   margin-top: 0 !important;
  // }
  .css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
    margin: 10px 0;
  }
}

// .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
//   min-height: 48px;
// }
