@import '/src/style-utils/vars.scss';
@import '/src/style-utils/normalize.scss';
@import '/src/style-utils/mixins.scss';

@import '../src/Components/Header/Header.scss';
@import '../src/Components/Main/Main.scss';
@import '../src/Components/Footer/Footer.scss';
@import '../src/Components/Card/Card.scss';
@import '../src/Pages/Home/Home.scss';
@import '../src/Components/Filters/Filters.scss';

* {
  box-sizing: border-box;
}

.container {
  font-size: 18px;
  max-width: $max-container-width;
  padding: 40px 40px 32px;
  margin: 0 auto;
}

.page {
 
  &__header {
    margin-bottom: 88px;
  }

  &__body {
    margin-inline: auto;
  }
}

.logo {
  @include hoverScale;
}